/*login text font*/
.login {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 100px;
    padding-right: 150px;
    color: white;
    padding-top: 50px;
}
/*Sign up text font*/
.signup {
    padding-left: 30px;
    color: white;
    padding-top: 30px;
}
/*Add admin page font*/
.admin {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 30px;
    color:white;
    padding-top: 30px;
}
/*About page*/
.about {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 50px;
    color:black;
    padding-right: 50px;
    padding-top: 150px;
}
/*Add music page*/
.addmusic {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 150px;
    color: white;
}
