/*login text font*/
.login {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 100px;
    padding-right: 150px;
    color: white;
    padding-top: 50px;
}
/*Sign up text font*/
.signup {
    padding-left: 30px;
    color: white;
    padding-top: 30px;
}
/*Add admin page font*/
.admin {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 30px;
    color:white;
    padding-top: 30px;
}
/*About page*/
.about {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 50px;
    color:black;
    padding-right: 50px;
    padding-top: 150px;
}
/*Add music page*/
.addmusic {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 150px;
    color: white;
}
.nav {
    font: bold 30px Times;
    text-decoration: white;
    font-weight: bolder;
    color: #ffffff;
    height: 100px;
    width: auto;
    display: flex;
    text-align: center;
    line-height: 50px;
    padding-right: 138px;
    padding-left: 100px;
    padding-top: 10px;
  }
  .menu {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bolder;
    color: #ffffff;
    height: 50px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    line-height: 50px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .button {
    font: bold 25px Times;
    text-decoration: white;
    font-weight: bolder;
    color: #ffffff;
    height: 70px;
    width: auto;
    display: flex;
    text-align: center;
    line-height: 50px;
    padding-right: 50px;
    padding-left: 40px;
    padding-top: 10px;
  }
  .settings {
    font: bold 15px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 10px 20px 10px 20px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    text-align: center;
  }
  .music {
    font: bold 15px Times;
    text-decoration: white;
    font-weight: bolder;
    color: #000000;
    width: auto;
    display: inline-flex;
    text-align: center;
    line-height: 20px;
    padding-left: 80px;
    padding-top: 1px;
  }